@import '~@angular/material/_theming';
@import '../../common';

#rank {
  width: 96%;
  height: 90%;
  margin: 8% 1% 2% 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 9;

  .rankings {
    @include mat-elevation(4);
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 2% 0;
    min-height: 500px;
    max-height: 90%;

    .contestant {
      @include mat-elevation(6);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 90px;
      width: 90%;
      position: relative;
      background-color: #fff;
      margin: 5px 5%;
      border-radius: 10px;

      mat-form-field {
        height: 80%;
        width: 80px;
        margin: 10px 10px 0 10px;
      }

      .middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: calc(100% - 114px);
        cursor: pointer;
      }

      img {
        @include mat-elevation(4);
        height: 90%;
        border-radius: 100%;
        margin: 0 10px;
      }

      .info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;

        .title {
          font-size: 18px;
        }

        .subtitle {
          font-size: 12px;
        }
      }

      .notes {
        margin: 0;
        padding: 10px;
        font-size: 15px;
        max-height: calc(100% - 20px);
        overflow-y: auto;
        color: $primary-color;
        width: 60%;
      }

      .drag-icon {
        color: $primary-color;
        margin: 0;
        cursor: move;
        cursor: grab;
        font-size: 32px;
        height: 100%;
        width: 32px;
        box-sizing: border-box;
        border-radius: 10px 0 0 10px;
        padding: 29px 50px 29px 20px;
        text-align: center;
      }

      .drag-icon:hover {
        background-color: $primary-color;
        color: #fff;
      }

      .status {
        height: 20px;
        font-size: 16px;
        font-family: 'Saira Stencil One', cursive;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
        border-top: 2px double #000;
        border-bottom: 2px double #000;
        position: absolute;
        top: 5px;
        right: 10px;
      }

      .status.inactive {
        border-color: red;
        color: red;
      }
    }

    .contestant:hover {
      @include silver-gradient();

      .notes {
        color: #fff;
      }
    }
  }

  .rules {
    @include mat-elevation(4);
    width: 25%;
    padding: 10px 3%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 16px;

      .bold {
        color: $primary-color;
        font-weight: bold;
      }

      mat-icon {
        font-size: 16px;
        line-height: 16px;
        margin: 0 5px;
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 90px;
  width: 90%;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 10px;
}

.cdk-drop-list-dragging .contestant:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

@media only screen and (max-device-width: 1366px) {
  #rank {
    display: block;
    overflow: auto;
    height: 3000px;

    .rules {
      width: 94%;
      @include mat-elevation(0);
      background: transparent;
      display: block;
      margin-top: 40px;
      display: none;

      h1 {
        text-align: center;
      }
    }

    .rankings {
      @include mat-elevation(8);
      //background: transparent;
      display: block;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      min-height: unset;
      max-height: unset;
      height: 92%;
      margin-top: 8%;
      border-radius: 10px;

      .contestant {
        padding: 0;
        padding-right: 2%;
        margin: 5px 3%;

        mat-form-field {
          width: 60px;
        }

        img {
          margin: 0 5px;
        }

        .info {
          .title {
            font-size: 15px;
          }

          .age {
            display: none;
          }

          .subtitle {
            display: none;
          }
        }

        .notes {
          display: none;
        }

        .drag-icon {
          padding: 29px 40px 29px 10px;
        }
      }
    }
  }
}
