<div class="site-map">
  <button mat-button class="menu-item" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    <span class="btn-label">Home</span>
  </button>
  <button mat-button class="menu-item" routerLink="/contestants">
    <mat-icon>group</mat-icon>
    <span class="btn-label">Contestants</span>
  </button>
  <button mat-button class="menu-item" [routerLink]="'/rankings/' + userId">
    <mat-icon>format_list_numbered</mat-icon>
    <span class="btn-label">My Rankings</span>
  </button>
  <button mat-button class="logout" (click)="logout.emit()">
    <span class="btn-label">Logout</span>
  </button>
</div>
