<bachelor-container [hasWallpaper]="false">
  <div id="dashboard">
    <p class="welcome frosted" *ngIf="currentUser.firstName">Welcome, {{ currentUser.firstName }}!</p>
    <!-- <mat-toolbar></mat-toolbar> -->
    <!-- <button mat-raised-button class="btn-rank" color="primary" routerLink="/rank">RANK</button> -->
    <bachelor-users></bachelor-users>
    <!-- <button mat-raised-button class="btn-contestants" color="accent" routerLink="/contestants">VIEW
      CONTESTANTS</button> -->
    <!-- <div class="note frosted">
      <p>The time for ranking has ended...</p>
      <p>Dont worry, we have everyone's submitted rankings.</p>
      <p>Please check back after the episode for real-time standings!</p>
    </div> -->
  </div>
</bachelor-container>
