@import '~@angular/material/_theming';
@import '../../common';

#ranking {
  width: 96%;
  height: 1000px;
  margin: 50px 1% 50px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 9;
  padding-top: 300px;

  .top {
    position: absolute;
    top: 220px;
    left: 10%;
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;

    .user-name {
      color: #000;
      font-size: 28px;
    }

    .contestants-remaining {
      color: $primary-color;
      font-size: 24px;
    }

    .total-points {
      color: $accent-color;
      font-size: 28px;
    }
  }

  .contestant {
    @include mat-elevation(6);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 9%;
    width: 30%;
    position: relative;
    margin: 0.25% 0;
    border-radius: 10px;
    cursor: pointer;

    .rank {
      color: $primary-color;
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      margin: 0 20px;
    }

    .middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: calc(100% - 140px);

      img {
        @include mat-elevation(4);
        height: 90%;
        border-radius: 100%;
        margin-right: 10px;
      }

      .info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;

        .title {
          font-size: 18px;
        }

        .subtitle {
          font-size: 12px;
        }
      }
    }

    .points {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      max-width: 200px;
      padding: 0 5px;
      font-weight: bold;
      align-self: flex-end;
      margin-bottom: 10px;
      font-family: 'Josefin Sans', sans-serif;

      .points-label {
        color: #000;
        width: 60px;
      }

      .points-value {
        color: $accent-color;
        font-size: 28px;
        max-width: 50px;
        padding: 0 10px;
      }
    }

    .status {
      height: 20px;
      font-size: 16px;
      font-family: 'Saira Stencil One', cursive;
      font-family: 'Stardos Stencil', cursive;
      text-transform: uppercase;
      //border-radius: 10px;
      border-top: 2px double #000;
      border-bottom: 2px double #000;
      align-self: flex-start;
      // -webkit-transform: rotate(10deg);
      // -moz-transform: rotate(10deg);
      // -o-transform: rotate(10deg);
      // -ms-transform: rotate(10deg);
      // transform: rotate(10deg);
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .status.active {
      border-color: green;
      color: green;
    }

    .status.inactive {
      border-color: red;
      color: red;
    }

    .drag-icon {
      color: $primary-color;
    }

  }
}

@media only screen and (max-device-width: 1366px) {
  :host {
    display: block;
    height: auto;
  }

  #ranking {
    // flex-wrap: nowrap;
    // justify-content: flex-start;
    padding-top: 90px;
    display: block;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;

    .top {
      display: block;
      top: 0px;
      height: 80px;

      .user-name {
        width: 100%;
        text-align: center;
      }

      .contestants-remaining {
        width: 100%;
        text-align: center;
      }

      .total-points {
        width: 100%;
        text-align: center;
      }
    }

    .contestant {
      width: 100%;
      height: 90px;
      min-height: 90px;
      margin: 5px 0;
      justify-content: flex-start;

      .info {
        .title {
          .age {
            display: none;
          }
        }

        .subtitle {
          display: none;
        }
      }
    }

    .contestant:last-of-type {
      margin-bottom: 50px;
    }
  }
}
