@import '~@angular/material/_theming';
@import '../../../common';

#container {

  .home-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 64px;
    color: $primary-color;
    cursor: pointer;
    z-index: 10;
  }

  #content {
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .roses-header {
    position: fixed;
    top: 0px;
    left: 25%;
    width: 50%;
    z-index: 1;
  }

  .roses-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotate(180deg);
    /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);
    /* FF */
    -o-transform: rotate(180deg);
    /* Opera */
    -ms-transform: rotate(180deg);
    /* IE9 */
    transform: rotate(180deg);
    /* W3C compliant browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
    z-index: 0;
  }
}
